
body {

  width: 100%;
  /* text-align: center; */

}

nav {
  /* display: inline; */
  text-align: center;
  width: 100%;
  margin: 15px auto;

}

nav a {
  padding: 1.5% 0;
  /* float: left; */
  
  
}

section {
  width: 100%;
  text-align: left;
  float: left;

}
.threefold {
  width: 25.25%;
  float:left;
  margin: 1.56% ;
  color: green;
  }

  .featured-banner {
    width: 50%
    
  }

article {
 
  width: 43%;
  margin: 15px ;
  padding-left: 7%;
  overflow: hidden;
  line-height: 1.5 em;
  

}

.logo-wrap {
  width: 29%;
} 

ul {
  width: 70%; 
  outline: solid 2 px #333;
}
li {
  display: inline-block;
    font-family: sans-serif;
    /* margin: 1%; */
    line-height: 70px;
    font-size: 1.8 em;
    padding: 1.5% 0 0 0;
}

h2 {
  font-size: 26px; 
  padding-bottom: 15px;
}

p {
  font-size: 19px;
  height: 312px;
  overflow: scroll;
  line-height: 1.4;

}

h3 {
  clear: both;
  font-size: 16px;
  color: white;
  width: 150px;
  height: 30px;
  background-color: #333;
  border-radius: 10px;
  text-align: center;
  padding: 14px 0 0 0;
}

h3:hover {
  background-color: #CCC;
  color: #111;

}
