
body {
  outline: #444;
  width: 990px;
  text-align: center;
  /* sizing tools  */
  outline-color: black;
  outline-width: 3px;
  outline-style: dashed;
}

nav {
  display: inline;
  text-align: left;
  width: 960px;
  height: 70px;
  margin: 15px auto;
}

nav a {
  padding: 15px 0px;
  float: left;
}

section {
  text-align: left;
  float: left;
  width: 990 px;
  /* display: inline-block; */
  /* margin : 15px; */

}
img {
  float:left;
  margin: 15px ;
  box-sizing: border-box;
}

article {
 
  /* box-sizing: border-box; */
  width: 400 px;
  height: 300 px;
  margin: 15px ;
  padding-left: 15px;
  outline-color: black;
  outline-width: 3px;
  outline-style: dashed;
  overflow: hidden;
  

}

li {
  display: inline-block;
    font-family: sans-serif;
    margin: 15px;
    line-height: 70px;
    font-size: 30px;
    padding: 13px 0 0 0;
}

h2 {
  font-size: 24px; 
  padding-bottom: 10px;
}

p {
  font-size: 19px;
  height: 200px;
  overflow: scroll;
  line-height: 2 px;

}

h3 {
  clear: both;
  font-size: 16px;
  color: white;
  width: 150px;
  height: 30px;
  background-color: #444;
  border-radius: 10px;
  text-align: center;
  padding: 14px 0 0 0;
  
  
  
}
